<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 	<head>
  		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		<title>Email</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<body style="margin: 0; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td style="padding: 10px 0 30px 0;">
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;border: 1px solid #CCCCCC;">
						<tr>
							<td align="center" bgcolor="#FFFFFF" style="padding: 10px 0;background-color: #3b6caa; color: white; ">
								<h2> Open Logix Corporation </h2>
							</td>
						</tr>
						<tr>
							<td bgcolor="#FFFFFF" style="padding: 40px 30px 40px 30px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td>
											Hello John Doe,
										</td>
									</tr>
									<tr>
										<td style="padding: 20px 0 30px 0;">
											Thank you for completing thye survey. Please find the below gift code to redeem your gift
										</td>
									</tr>
									<tr>
										<td>
											<table border="0" cellpadding="0" cellspacing="0" width="100%">
												<tr>
													<td width="260px" valign="top">
														<table border="0" cellpadding="0" cellspacing="0" width="50%" align="center">
															<tr>
																<td align="center" style="padding: 20px;color:#FFFFFF;background-color: #3b6caa;">
																	<h3>CP2018</h3>
																</td>
															</tr>
														</table>
													</td>
													<!-- <td width="20px" style="font-size: 0; line-height: 0;">&nbsp;</td> -->
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#3b6caa" style="padding: 0 10px; color:#FFFFFF">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									<tr>
										<td width="75%">
											&reg; OpenLogix@IBM<br/>
										</td>
										<td width="25%" align="right">
											<table>
												<tr>
													<td>
														<a href="https://www.facebook.com">
															<img src="fb.png" alt="facebook" width="38" height="38" style="display: block;" border="0" />
														</a>
													</td>
													<td style="line-height: 0; font-size: 0;">&nbsp;</td>
													<td>
														<a href="https://www.twitter.com">
															<img src="twitter.png" alt="Twitter" width="25" height="20" style="display: block;" border="0" />
														</a>
													</td>
													<td style="line-height: 0; font-size: 0;">&nbsp;</td>
													<td>
														<a href="https://www.linkedin.com">
															<img src="Linkedin.png" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

	</body>
	</html>